.badger-container {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
#map {
    height: calc(100vh - 82px);
    width: calc(100% - 16px);
    top: 8px;
    margin-left: 8px;
}
.badger-navbar {
	padding-top: 4px;
	padding-bottom: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.badger-navbar-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
}
.badger-navbar-text {
	font-size: 16px;
	font-weight: normal;
}
.badger-list-row {
	flex-direction: row;
}
.badger-filtericon-hidden {
	display: none;
}
.badger-navbar .checkbox {
	padding-left: 8px;
	color: #000000b0;
	white-space: nowrap;
}
.badger-badge-container {
	border-right: solid 1px #00000040;
	padding-bottom: 3px;
	padding-right: 4px;
}
.badger-badge {
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	vertical-align: middle;
}
.badger-badge:before {
	content: "";
	margin-right: 32px;
}
.badger-badge-none {
	background-image: url('../images/none.png');
}
.badger-badge-basic {
	background-image: url('../images/basic.png');
}
.badger-badge-bronze {
	background-image: url('../images/bronze.png');
}
.badger-badge-silver {
	background-image: url('../images/silver.png');
}
.badger-badge-gold {
	background-image: url('../images/gold.png');
}
.badger-info {
	min-width: 200px;
	min-height: 200px;
}
.badger-info-title {
	padding-bottom: 8px;
    border-bottom: 1px solid #000;
    margin-bottom: 4px;
}
.badger-info-title-container {
	display: table;	
}
.badger-info-title-placeholder {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	padding-left: 8px;
}
.badger-info-title-text {
	/* line-height: 32px; */
	font-weight: bold;
	font-size: 14px;
	vertical-align: middle;
}
.badger-info-warn {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 7px;
    line-height: 26px;
}
.badger-info-raid-dropdown {
	display: inline-block;
	float: right;
}
.badger-info-raid-button {
	font-size: 12px;
	padding-top: 1px;
    padding-bottom: 1px;
}
.badger-info-raid-menu {
	min-width: 10px;
}
.badger-info-raid-item {
	font-size: 12px;
	line-height: 12px;
	padding-left: 5px;
    padding-bottom: 4px;
    white-space: nowrap;
    padding-right: 5px;
}
.badger-small-button {
    padding-left: 4px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-right: 4px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    background-color:transparent;
    border: 1px solid #00000080;
    font-size: 24px;
    color: #00000080;
}
.badger-small-button:after {
	display: inline-block;
    width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
	vertical-align: middle;
}
.badger-dropdownitem {
	font-size: 13px;
}
.badger-dropdownitem-checked::before {
  position: absolute;
  left: .4rem;
  content: '✓';
  font-weight: 600;
}
.badger-small-lm {
	margin-left: 4px;
}
.badger-navbar .select2-selection {
	height: 32px;
	margin-top: 6px;
} 
.badger-navbar .select2-selection__arrow {
	height: 32px;
	margin-top: 6px;
}
.badger-navbar .select2-container {
	min-width: 280px;
} 
.badger-navbar-label {
	line-height: 24px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: inline-block;
}
.multiselect-group label {
	padding-bottom: 3px !important;
    padding-left: 8px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
}
#badger-gold-percent {
    position:relative;
    width:42px; height:42px;
}
#badger-gold-percent canvas {
    display: block;
    position:absolute;
    top:0;
    left:0;
}
.badger-percentage-text {
    color:white;
    display:block;
    line-height: 42px;
    width:42px;
    text-align:center;
    font-weight: bold;
    position:absolute;
    top:0;
    left:0;
}
.badger-percentage-text-sm {
	font-size:11px;
}
.badger-percentage-text-md {
	font-size:12px;
}
.badger-percentage-text-lg {
	font-size:13px;
}
#badger-gold-percent input {
    width: 42px;
}
.badger-percentage-details {
	position: absolute;
	top: 38px;
	width: 42px;
	text-align: center;
	color: white;
	font-size: 10px;
}
.badger-dropdown-list-split {
	border-bottom: 1px solid #00000080;
}
.icon-arrow-left::after {
	content: "<";"
}
.icon-arrow-right::after {
	content: ">";"
}