@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.eot');
  src: url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('fontawesome-webfont.woff2') format('woff2'),
       url('fontawesome-webfont.woff') format('woff'),
       url('fontawesome-webfont.ttf') format('truetype'),
       url('fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.badger-container {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    padding-top: 66px;
    padding-bottom: 0px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    padding-left: 0px !important;
	padding-right: 0px !important;
}
#map {
    min-height: 100%;
    width: 100vw;
    height 100%;
    z-index: 1;
}
.badger-navbar {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
    padding-right: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    color: white;
    z-index: 3;
    overflow-y: visible;
}
.badger-navbar-mystic {
    background-color: #007bff;
}
.badger-navbar-valor {
    background-color: #c80000;
}
.badger-navbar-instinct {
    background-color: #e7e922;
    color: black;
}
.badger-navbar-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
}
.badger-navbar-text {
	font-size: 16px;
	font-weight: normal;
}
.badger-nav-link {
    padding: 2px !important;
}
.badger-nav-percent {
    height: 56px;
}
.badger-nav-toggler {
    height: 40px;
    align-self: center;
}
.badger-nav-dropdown {
	display: inline-block;
	position: relative;
}
.badger-nav-block {
	display: inline-flex;
	vertical-align: top;
}
.badger-nav-sticky {
    display: flex;
    justify-content: space-between;
    width: 100%;
    vertical-align: middle;
}
.badger-area-btn {
  padding-right: 4px;
  font-size: 22px;
  padding-left: 4px;
  line-height: 24px;
  margin-top: 2px;
  height: 38px;
}
.badger-align-middle {
	display: flex;
	height: 100%;
    align-items: center;
}
.badger-login-button {
	background-color: #4267b2;
    padding-left: 4px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 6px;
}
.badger-select {
	padding-top: 2px;
	padding-bottom: 2px;
}
.badger-login-icon {
	padding-right: 4px;
	padding-left: 2px;
}
.badger-list-row {
	flex-direction: row;
	justify-content: end;
}
.badger-filtericon-hidden {
	display: none;
}
.badger-navbar .checkbox {
	padding-left: 8px;
	color: #000000b0;
	white-space: nowrap;
}
.badger-button-bar {
	display: flex;
}
.badger-btn-item {
	padding-right: 6px;
    font-size: 22px;
    padding-left: 6px;
    line-height: 24px;
    margin-top: 3px;
    height: 38px;
}
.badger-badge-container {
	display: flex;
    padding-top: 3px;
    padding-bottom: 2px;
}
.badger-badge-container .fa {
    line-height: 32px;
}
.badger-badge {
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
}
.badger-badge-none {
	background-image: url('../images/none.png');
}
.badger-badge-basic {
	background-image: url('../images/basic.png');
}
.badger-badge-bronze {
	background-image: url('../images/bronze.png');
}
.badger-badge-silver {
	background-image: url('../images/silver.png');
}
.badger-badge-gold {
	background-image: url('../images/gold.png');
}
.badger-badge-gap {
    margin-left: 4px;
    margin-right: 4px;
    border-right: solid 1px #00000040;
}
.badger-info-wrapper {
	z-index: 2;
}
.badger-info {
	min-width: 200px;
}
.badger-info-title {
	padding-bottom: 8px;
    border-bottom: 1px solid #000;
    margin-bottom: 4px;
    margin-right: 20px;
}
.badger-info-title-container {
	display: flex;	
}
.badger-info-title-placeholder {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.badger-info-title-text {
	font-weight: bold;
	font-size: 14px;
	vertical-align: middle;
	color: black;
}
.badger-no-raid {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 7px;
    display: flex;
    justify-content: space-between;
}
.badger-no-raid-small {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 26px;
    display: flex;
}
.badger-last-raid {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 7px;
    display: flex;
    justify-content: space-between;
    cursor: pointer; 
}
.badger-last-raid.collapsed .badger-info-raid::before {
	content: "\f0da\a0";
	font-family: FontAwesome;
}
.badger-last-raid:not(.collapsed) .badger-info-raid::before {
	content: "\f0d7\a0";
	font-family: FontAwesome;
}
.badger-last-raid-small {
	margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 26px;
    display: flex;
}
.badger-last-raid-small.collapsed::before {
	content: "\f0da\a0";
	font-family: FontAwesome;
}
.badger-last-raid-small:not(.collapsed)::before {
	content: "\f0d7\a0";
	font-family: FontAwesome;
}
.badger-info-close {
	right: 4px;
	position: absolute;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;	
	padding-bottom: 4px;
	line-height: 10px;
	font-size: 18px;
	top: 3px;
	border: none;
}
.badger-info-raid-dropdown {
	display: inline-block;
	margin-left: 4px;
}
.badger-info-raid-button {
	font-size: 12px;
	padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
.badger-raid-button-container {
	border-right: solid 1px #d8d8d8;
	padding-right: 4px;
}
.badger-info-raid-button:after {
	display: inline-block;
    width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
	vertical-align: middle;
}
.badger-info-raid-menu {
	min-width: 10px;
}
.badger-info-raid-item {
	font-size: 12px;
	line-height: 12px;
	padding-left: 5px;
    padding-bottom: 4px;
    white-space: nowrap;
    padding-right: 5px;
}
.badger-small-button {
    padding-left: 4px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-right: 4px;
    background-color: transparent;
    border: 1px solid #00000080;
    font-size: 24px;
    color: #00000080;
}
.badger-dropdownitem {
	font-size: 13px;
}
.badger-dropdownitem-checked::before {
  position: absolute;
  left: .4rem;
  content: '✓';
  font-weight: 600;
}
.badger-small-pill-lm {
	margin-left: 6px;
	padding-top: 4px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 5px;
}
.badger-small-pill {
	padding-top: 4px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 5px;
}
.badger-time-badge-container {
	margin-top: 0px;
    padding-top: 0px;
    line-height: 0px;
}
.badger-time-badge {
	background-color: #111311cc;
}
.badger-navbar .select2-selection {
	height: 32px;
	margin-top: 3px;
} 
.badger-navbar .select2-selection__arrow {
	height: 32px;
	margin-top: 6px;
}
.badger-navbar .select2-container {
	min-width: 280px;
} 
.badger-navbar-label {
	line-height: 24px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: inline-block;
}
.multiselect-group label {
	padding-bottom: 3px !important;
    padding-left: 8px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
}
.badger-percent {
    position:relative;
}
.badger-percent-small {
	width:42px; height:42px;
}
.badger-percent-large {
    width:76px; height:74px;
    margin-left: 10px;
}
.badger-percent-large-border {
    width:76px; height:74px;
    margin-left: 10px;
    border-right: 1px solid grey;
}
.badger-percent canvas {
    display: block;
    position:absolute;
    top:0;
    left:0;
}
.badger-percentage-text {
    display:block;
    text-align:center;
    font-weight: bold;
    position:absolute;
    top:0;
    left:0;
}
.badger-percentage-details {
	position: absolute;
	text-align: center;
	font-size: 10px;
}
.badger-dropdown-list-split {
	border-bottom: 1px solid #00000080;
}
.icon-arrow-left::after {
	content: "<";
}
.icon-arrow-right::after {
	content: ">";
}
.glyphicon-arrow-left::after {
	content: "<";
}
.glyphicon-arrow-right::after {
	content: ">";
}
.badger-comments {
	width: 100%;
	height: 100%;
}
.badger-user-button {
    background-color:transparent;
    font-size: 16px;
    margin-top: 3px;
    margin-left: 3px;
}
.badger-user-container {	
}
.badger-user-button:after {
	display: inline-block;
    width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
	vertical-align: middle;
}
.badger-user-menu {
	min-width: 100px;
	max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute !important;
}
.badger-user-item {
	padding-left: 8px;
	padding-right: 8px;
	line-height: 20px;
}
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}
.badger-report-page-body {
	padding: 4px;
}
.badger-report-table {
	font-size: 12px;
	padding-top: 8px;
}
.badger-report-table-body td {
	font-size: 12px;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	white-space: nowrap;
}
.popover .close{
    position: relative;
	bottom: 4px;
}
.badger-opt-item {
	margin-top: 8px;
}
.badger-opt-item .bootstrap-switch-handle-on {
  padding-top: 2px;
  padding-bottom: 4px;
}

.badger-opt-item .bootstrap-switch-handle-off {
  padding-top: 2px;
  padding-bottom: 4px;
}
.badger-opt-item .bootstrap-switch-label {
	padding-top: 0px;
  padding-bottom: 0px;
}
.select2-dropdown {
	z-index: 2000;
}
.badger-opt-date {
	margin-top: 0px !important;
}
.badger-opt-date-text {
	padding-top: 0px;
    padding-bottom: 1px;
    font-size: 14px;
}
.badger-opt-btn-div {
	display: flex;
    justify-content: center;
}
.badger-opt-btn-div button {
	padding-top: 0px;
	margin-left: 6px;
}
.badger-opt-footer {
    margin-top: 8px;
}
.badger-rep-heading {
	font-size: 20px;
    font-weight: 500;
    margin-bottom: 2px;
}
.badger-rep-table-container {
	padding-top: 8px;
}
.badger-rep-percent-area {
	display: flex;
}
.badger-rep-percent-title {
	text-align: center;
	color: #4267b2;
}
.badger-date-popover {
    width: 190px;
    height: 192px;
}
.badger-small-alert {
    padding: 2px;
    margin: 2px;
}
.badger-comments-label {
    color: #4267b2;
	padding-bottom: 2px;
	line-height: 16px;
}
.badger-comments-group {
    background-color: #ececec;
	padding: 4px;
	margin-top: 4px;
	border-radius: .25rem;
	max-height: 124px;
	height: 124px;
    overflow: auto;
}
.badger-comment-user {
    font-weight: bold;
    color: #4267b2;
	font-size: 14px;
	white-space: pre;
}
.badger-comment {
	background-color: white;
	margin: 3px;
    border-radius: .85rem;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-top: 0px;
}
.badger-comment-text {
	margin-left: 4px;
	font-size: 13px;
    line-height: 16px;
    word-wrap: break-word;
    overflow: hidden;
}
.badger-comment-input {
    border:0; outline:0;
    padding: 3px;
    resize: none;
    margin-top: 4px;
    width: 100%;
}
.badger-comment-options {
    display: flex;
    justify-content: right;
    margin-top: 4px;
    margin-bottom: 4px;
}
.badger-public-menu {
    font-size: 11px;
    height: 18px !important;
}
.badger-public-menu ~ .select2-container {
	width: 70px !important;
}
#select2-badger-public-menu-container {
    line-height: 16px;
    width: 70px !important;
}
.badger-public-menu .select2-selection__arrow {
    height: 16px !important;
}
.badger-public-item {
    font-size: 11px;
}
.badger-comment-post {
    font-size: 11px;
    padding-top: 0px;
    margin-left: 5px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 4px;
}
.badger-sub-comment {
    line-height: 8px;
    padding-bottom: 6px;
}
.badger-delete-link {
    margin-left: 10px;
    font-size: 11px;
    padding: 0px;
    margin-top: 0px;
}
.badger-comment-time {
    margin-right: 8px;
    margin-top: 2px;
    float: right;
    font-size: 11px;
    color: grey;
}
#advancedOptions {
  text-align: center;
  padding: 0!important;
}
#advancedOptions:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
#advancedOptionsDialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.badger-opt-header {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.badger-opt-footer {
    padding: 0px;
}
.badger-share-area {
	display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 6px;
}
.badger-share-switch {
	margin-right: 8px;
}
.badger-share-note {
	font-size: 11px;
}
.badger-lead-table {
    padding: 0px;
    border: none !important;
    border-spacing: 0px !important;
}
.badger-rank-1 {
    font-size: 24px;
    background-color:#b3d9ff;
}
.badger-rank-2 {
    font-size: 20px;
    background-color: #cce6ff;
}
.badger-rank-3 {
    font-size: 18px;
    background-color: #e6f2ff;
}
#leadersTableBody td {
    padding: 8px !important;
    text-align: left;
}
.badger-lead-medal1 {
    background-image: url('../images/GoldMedal.png');
    width: 28px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}
.badger-lead-medal2 {
    background-image: url('../images/SilverMedal.png');
    width: 28px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}
.badger-lead-medal3 {
    background-image: url('../images/BronzeMedal.png');
    width: 28px;
    height: 38px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}
.badger-lead-total {
	text-align: center;
}
.badger-hidden-item {
	display: none;
}
#announcementAlert p {
	margin: 0px;
}
.badger-announce-input {
    width: 100%;
    height: 100%;
}
.badger-tab-container {
	margin-top: 8px;
	margin-left: 8px;
}
.badger-tab-label {
	padding-top: 8px;
	padding-bottom: 6px;
	font-size: 12px;
}
.badger-history-container {
	max-height: 191px;
	overflow: auto;
}
.badger-history-text {
	font-size: 12px;
}
#leadersTableBody td {
    padding: 8px !important;
    text-align: left;
}
.badger-lead-medal1 {
    background-image: url('../images/GoldMedal.png');
    width: 28px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}
.badger-lead-medal2 {
    background-image: url('../images/SilverMedal.png');
    width: 28px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}
.badger-lead-medal3 {
    background-image: url('../images/BronzeMedal.png');
    width: 28px;
    height: 38px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}
.badger-lead-total {
	text-align: center;
}
.badger-history-table-body td {
    padding: 6px;
}
.badger-leader-tab-container {
	margin: 0px;
}
.badger-leader-tab-label {
    padding-top: 8px;
    padding-bottom: 6px;
    font-size: 14px;
    padding-bottom: 1px;
}
.badger-tab-logo {
    position: relative;
    top: -2px;
    width: 30px;
    height: 30px;
    background-repeat: space;
    background-size: contain;
    margin-left: 4px;
    padding: 0px;
    margin-top: 0px;
}
#totalTableBody td {
    padding: 8px !important;
    text-align: left;
}
.badger-gym-info-image {
    max-width: 100%;
    max-height: 250px;
}
#gymInfoBody {
    display: flex;
    align-items: center;
    justify-content: center;
}
.badger-upload-text-area {
	font-size: 11px;
	padding: 4px;
}
.badger-upload-text-area p {
	margin: 0px;
}
.badger-file-pill {
	margin-right: 4px;
}
input[type="file"] {
    display: none;
}
.badger-upload-preview {
	width: 50px;
	height: 50px;
	margin: 4px;
}
.badger-upload-results {
    max-height: 250px;
    overflow: auto;
}
.badger-gym-result {
    margin: 4px;
    display: inline-block;
    border: 1px solid #d0d0d0;
    border-radius: .25rem;
    vertical-align: top;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
}
.badger-gym-result-box {
    display: flex;
    padding-right: 4px;
}
.badger-result-row {
    display: table-row;
}
.badger-gym-result-label {
    text-align: center;
    font-size: 11px;
    display: table-row;
    max-width: 81px;
}
.badger-gym-result-close-btn {
    padding-left: 3px;
}
.badger-gym-result-close {
    display: inline-block;
    vertical-align: top;
    height: .65em;
    line-height: .65em;
    font-size: 18px;
    position: relative;
    top: -3px;
}
.badger-gym-result-grid {
    display: grid;
    padding-right: 4px;
}
.badger-upload-progress {
    width: 100%;
    height: 21px;
    background-color: #d8d8d8;
    border-radius: 21em;
    margin-top: 4px;
    margin-bottom: 0px;
}
.badger-upload-progress-bar {
    width: 1%;
    height: 19px;
    border-radius: 23em;
    background-image: url('../images/progress.png');
    background-repeat: repeat-x;
    position: relative;
    top: 1px;    
}
.badger-upload-progress-text {
    width: 100%;
    float: left;
    z-index: 999;
    text-align: center;
    position: relative;
    top: -2px;
}
.badger-team-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.badger-team-btn {
    display: flex;
    padding: 8px;
}
.badger-team-btn-img {
    min-width: 70px;
    min-height: 70px;
    width: 70px;
    height: 70px;
    background-repeat: space;
    background-size: contain;
}
.badger-mystic-team {
    background-image: url('../images/mystic.png');
}
.badger-mystic-team.active {
	  background-image: url('../images/mystic.png') !important;
}
.badger-mystic-team.active::after {
    content: "\f00c";
    font-size: 72px;
    font-family: FontAwesome;
    color: rgba(190, 230, 79, 0.8);
}
.badger-valor-team {
    background-image: url('../images/valor.png');
}
.badger-valor-team.active {
	  background-image: url('../images/valor.png') !important;
}
.badger-valor-team.active::after {
    content: "\f00c";
    font-size: 72px;
    font-family: FontAwesome;
    color: rgba(190, 230, 79, 0.8);
}
.badger-instinct-team {
    background-image: url('../images/instinct.png');
}
.badger-instinct-team.active {
	  background-image: url('../images/instinct.png') !important;
}
.badger-instinct-team.active::after {
    content: "\f00c";
    font-size: 72px;
    font-family: FontAwesome;
    color: rgba(190, 230, 79, 0.8);
}
#badgerTopNav .btn-warning {
    background-color: #e8cb10 !important;
    border-color: #ccb104 !important;
}
#badgerTopNav .btn-warning:hover, body .btn-warning:focus {
    border-color: #b29a01 !important;
    background-color: #c9b00e !important;
}
#badgerTopNav .btn-warning: active, body .btn-warning:visited, body .btn-warning:active:focus, body .btn-warning:active:hover {
    border-color: #639d34 !important;
    background-color: #e9cc20 !important;   
}
#teamTab {
	display: flex;
}
.badger-edit-button {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.badger-gym-content {
    position: relative;
    overflow: auto;
    height: 194px;
}
.badger-edit-page-body {
    padding: 8px;
}
.badger-edit-badge {
	display: flex;
	margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 8px;
}
.badger-chart-div {
    position: relative;
    width: 100%;
    height: 50vh;
}
.badger-rep-title {
    display: flex;
    padding: 4px;
    justify-content: space-between;
}
.badger-rep-filter-btn {
    font-size: 18px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.badger-rep-title-span {
    text-align: center;
    width: 100%;
}
.badger-rep-filter {
    padding-left: 10px;
}