<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>GymBadger</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>

    <meta property="og:type" content="website" />
    <meta property="og:title" th:content="${gymName}" />
    <meta property="og:image" th:content="${gymImageUrl}" />
    <meta property="og:url" th:content="${gymUrl}" />
    <meta property="og:description" th:content="${gymDescription}" />
    <meta property="fb:app_id" content="141005800009242" />

    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-multiselect.css"/>
    <link rel="stylesheet" href="css/select2.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="css/datatables.min.css"/>
    <link rel="stylesheet" href="css/snazzy-info-window.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-switch.min.css"/>
    <link rel="stylesheet" href="css/badgerstyle.css"/>
    
      
  </head>
  <body>

    <nav id="badgerTopNav" class="navbar navbar-expand-lg navbar-static-top navbar-dark badger-navbar badger-navbar-mystic">
      <div class="badger-nav-sticky">
        <a class="navbar-brand" href="/tos">
          <img src="/images/badger.png" width="48" height="48" class="d-inline-block" alt=""/>
          <span class="badger-navbar-title">GymBadger</span>
        </a>
        <span class="badger-authenticated badger-nav-percent" style="display: none;">
          <span id="badger-gold-percent" class="badger-navbar-label badger-percent badger-percent-small"></span>
        </span>
        <button class="navbar-toggler badger-nav-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div id="navbarNavDropdown" class="collapse navbar-collapse badger-list-row">
        <span class="badger-nav-block">
          <ul class="navbar-nav ml-1">
            <li class="nav-item nav-link badger-nav-link">
              <div id="areaFilter" class="badger-align-middle badger-area-btn">
                <select id="filterButton" class="badger-filtericon-hidden" multiple="multiple">
                </select>
              </div>
            </li>
            <li class="nav-item nav-link badger-nav-link">
              <div class="badger-align-middle">
                <select id="search" name="search" class="form-control"><option></option></select>
              </div>
            </li>
            <li class="nav-item nav-link badger-nav-link">
              <div class="badger-button-bar">
                <span><button id="navUploadButton" class="btn btn-primary badger-btn-item badger-authenticated" style="display: none;"><i class="fa fa-camera"></i></button></span>
                <span><button id="navReportButton" class="btn btn-primary badger-btn-item"><i class="fa fa-th-list"></i></button></span>
                <span><button id="navLeaderButton" class="btn btn-primary badger-btn-item badger-authenticated" style="display: none;"><i class="fa fa-trophy"></i></button></span>
                <span><button id="navTeamButton" class="btn btn-primary badger-btn-item badger-authenticated" style="display: none;"><i class="fa fa-users"></i></button></span>
                <span class="badger-unauthenticated">
                  <a href="/login" class="btn btn-primary badger-login-button"><i class="fa fa-facebook badger-login-icon"></i>Sign In</a>
                </span>
                <span class="badger-authenticated" style="display: none;">
                  <div class="badger-nav-dropdown">
                    <button class="dropdown-toggle btn btn-primary badger-user-button badger-nav-dropdown" type="button" id="userMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="badger-user-container"><span id="user"></span></span>
                    </button>
                    <ul id="actionMenu" class="dropdown-menu dropdown-menu-right badger-user-menu" aria-labelledby="userMenuButton">
                      <li><a id="upload" class="dropdown-item badger-user-item" onclick="return showUpload();">Upload Badges</a></li>
                      <li><a id="reports" class="dropdown-item badger-user-item" onclick="return showReports();">Reports</a></li>
                      <li><a id="leaderBoard" class="dropdown-item badger-user-item" onclick="return showLeaderboard();">Leaderboard</a></li>
                      <li><a id="announcements" class="dropdown-item badger-user-item badger-hidden-item" onclick="return showAnnouncementsAdmin();">Announcements</a></li>
                      <li><a id="team" class="dropdown-item badger-user-item" onclick="return showTeamOptions();">Team</a></li>
                      <li><a id="logout" class="dropdown-item badger-user-item" onclick="return logout();">Logout</a></li>
                    </ul>
                  </div>
                </span>
              </div>
            </li>
          </ul>
        </span>
      </div>
    </nav>
    
    <div id="announcementAlert" class="alert alert-warning alert-dismissible fade" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p id="announcement"></p>
    </div>

    <div id="badger-container" class="container fill badger-container">
      <div id="map"></div>
    </div>

    <div class="modal fade" id="errorPage" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="errorPageTitle" class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="errorPageBody"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>   
    </div>
    </div>
    
    <div class="modal fade" id="advancedOptions" role="dialog">
      <div id="advancedOptionsDialog" class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header badger-opt-header">
            <h5 class="modal-title">Advanced Raid Options</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body badger-options-page-body">
            <div id="badger-opt-date" class="input-group date badger-opt-date"> 
              <input type="text" class="form-control badger-opt-date-text" placeholder="Date of the raid"/> 
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            <div id="badger-opt-time" class="input-group date badger-opt-item"> 
              <input type="text" class="form-control badger-opt-date-text" placeholder="Time of the raid"/> 
              <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            </div>
            <div class="badger-opt-item"><select id="poke-search" name="poke-search" class="form-control"><option></option></select></div>
            <div class="badger-opt-item"><input type="checkbox" id="caught-switch" name="caught"/></div>
            <div class="modal-footer badger-opt-footer">
              <div class="badger-opt-item badger-opt-btn-div"><button id="badger-opt-save" class="btn btn-primary btn-sm">Save</button></div>
            </div>
          </div>    
        </div>
      </div>
    </div>

    <div class="modal fade" id="reportsPage" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Reports</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body badger-report-page-body">
          <div>
            <p class="badger-rep-heading pl-2">Gym Progress</p>
            <div class="badger-rep-percent-area">
              <div>
                <div class="badger-rep-percent-title">Visited</div>
                <div><span id="badger-rep-visited-percent" class="badger-navbar-label badger-percent badger-percent-large-border"></span></div>
              </div>
              <div>
                <div class="badger-rep-percent-title">Gold</div>
                <div><span id="badger-rep-gold-percent" class="badger-navbar-label badger-percent badger-percent-large-border"></span></div>
              </div>
              <div>
                <div class="badger-rep-percent-title">Total</div>
                <div><span id="badger-rep-total-percent" class="badger-navbar-label badger-percent badger-percent-large"></span></div>
              </div>
            </div>
          </div>
          <div>
            <span class="badger-tab-container">
              <ul class="nav nav-tabs badger-tab-list" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active badger-tab-label" data-toggle="tab" href="#gymlist" role="tab" aria-selected="true"><p class="badger-rep-heading">Gym List</p></a>
                </li>
                <li class="nav-item">
                  <a id="favouritesTab" class="nav-link badger-tab-label" data-toggle="tab" href="#favourites" role="tab" aria-selected="false"><p class="badger-rep-heading">Recent</p></a>
                </li>
              </ul>
            </span>
            
            <div id="reportsTabContent" class="tab-content">
              <div id="gymlist" class="tab-pane active badger-rep-table-container" role="tabpanel">
                <table id="reportsTable" class="table table-striped table-bordered badger-report-table scrollable" style="width: 100%;">
                  <thead>
                    <tr>
                      <th style="display:none;">Id</th>
                      <th>Gym</th>
                      <th>Badge</th>
                      <th>Area</th>
                      <th>Park</th>
                      <th>Raided</th>
                    </tr>
                  </thead>
                  <tbody id="reportsTableBody" class="badger-report-table-body">
                  </tbody>
                </table>
              </div>
              <div id="favourites" class="tab-pane" role="tabpanel">
                <div class="badger-rep-title">
                  <span>
                    <a class="btn btn-primary badger-rep-filter-btn" data-toggle="collapse" href="#reportFilterArea" aria-expanded="false" aria-controls="reportFilterArea">
                        <i class="fa fa-filter"></i>
                    </a>
                  </span>
                  <span class="badger-rep-title-span">
                    <p id="favouritesTitle" class="badger-rep-heading badger-fav-title">Gym Raids</p>
                    <p id="favouritesSubTitle" class="badger-fav-sub-title"></p>
                  </span>
                </div>
                <div id="reportFilterArea" class="collapse">                 
                  <div class="badger-rep-filter">
                    <select id="scopeMenuButton">
                      <option value="DAY">Day</option>
                      <option value="WEEK" selected="selected">Week</option>
                      <option value="MONTH">Month</option>
                      <option value="YEAR">Year</option>
                      <option value="ALL">All</option>
                      <option value="CUSTOM">Custom</option>
                    </select>
                    <div id="badger-rep-start-date" class="input-group date badger-opt-date ml-2" style="display: none;"> 
                      <input type="text" class="badger-opt-date-text" placeholder="Select start date"/> 
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                  </div> 
                </div>
                <div class="badger-chart-container">
                  <div id="favChartContainer" class="badger-chart-div">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a id="exportButton" href="/api/gyms/export" class="btn btn-info">Export</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </div>
    
    <div class="modal fade" id="leadersPage" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Leaderboard</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body badger-leaders-page-body">
            <div class="alert alert-info badger-share-area" role="alert">
              <span class="badger-share-switch"><input type="checkbox" id="share-switch" name="share"/></span>
              <span class="badger-share-note"><b>Note:</b> If you choose to join the leaderboard your total number of gold badges will be displayed to other trainers.</span>
            </div>
            <div class="badger-lead-table-container">
              <span class="badger-leader-tab-container">
                <ul class="nav nav-tabs badger-tab-list" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active badger-leader-tab-label" data-toggle="tab" href="#goldLeaderboard" role="tab" aria-selected="true">Gold</a>
                  </li>
                  <li class="nav-item">
                    <a id="totalTab" class="nav-link badger-leader-tab-label" data-toggle="tab" href="#totalLeaderboard" role="tab" aria-selected="false">Total</a>
                  </li>
                  <li class="nav-item">
                    <a id="teamTab" class="nav-link badger-leader-tab-label" data-toggle="tab" href="#teamLeaderboard" role="tab" aria-selected="false">Team
                    <div id="badgerTeamTabLogo" class="badger-tab-logo"></div></a>
                  </li>
                </ul>
              </span>
              <div class="tab-content">
                <div class="tab-pane active" id="goldLeaderboard" role="tabpanel">
                  <table id="leadersTable" class="table badger-lead-table scrollable" style="width: 100%;">
                    <thead style="display:none;">
                      <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Badges</th>
                      </tr>
                    </thead>
                    <tbody id="leadersTableBody" class="badger-lead-table-body"></tbody>
                  </table>
                </div>
                <div class="tab-pane" id="totalLeaderboard" role="tabpanel">
                  <table id="totalTable" class="table badger-lead-table scrollable" style="width: 100%;">
                    <thead style="display:none;">
                      <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Badges</th>
                      </tr>
                    </thead>
                    <tbody id="totalTableBody" class="badger-lead-table-body"></tbody>
                  </table>
                </div>
                <div class="tab-pane" id="teamLeaderboard" role="tabpanel">
                  <table id="teamTable" class="table badger-lead-table scrollable" style="width: 100%;">
                    <thead style="display:none;">
                      <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Badges</th>
                      </tr>
                    </thead>
                    <tbody id="teamTableBody" class="badger-lead-table-body"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="announcementAdminPage" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Announcements</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <textarea class="badger-announce-input" name="message" type="text" id="announce-message" placeholder="Write an announcement..."></textarea>
        </div>
        <div class="modal-footer">
          <button id="postAnnouncement" type="button" class="btn btn-info">Post</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </div>

    <div class="modal fade" id="gymInfoPage" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="gymInfoTitle" class="modal-title">Gym</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="gymInfoBody" class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </div>

    <div class="modal fade" id="uploadPage" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="uploadPageTitle" class="modal-title">Upload Badges</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
          <div id="uploadPageBody" class="modal-body">
            <div class="alert alert-danger badger-upload-text-area" role="alert">
              <span><p>This feature is still under development, it does not work yet but is coming soon.</p></span>
            </div>
            <div class="alert alert-info badger-upload-text-area" role="alert"><span><p>Upload screenshots of your Pokemon Go Gym Badge list.  
            You may need multiple screenshots scrolling down your gym badge list.  Based on these screenshots Gymbadger will attempt to automatically identify the gyms and your current badge.</p></span>
            </div>
            <form id="fileUploadData" method="post" enctype="multipart/form-data">
              <label for="fileToUpload" class="btn btn-secondary badger-file-upload">
                Select Screenshots...
              </label>
              <input id="fileToUpload" type="file" name="fileToUpload" onchange="fileSelected();" accept="image/*" multiple="true"/>
            </form>
            <div id="fileDetails"></div>
            <div id="uploadProgressArea" class="badger-upload-progress">
              <div id="uploadProgress" class="badger-upload-progress-text"></div>
              <div id="uploadProgressBar" class="badger-upload-progress-bar"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button id="fileUploadButton" type="button" class="btn btn-primary">Upload</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        
      </div>
    </div>
    </div>

    <div class="modal fade" id="uploadResultsPage" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="uploadPageTitle" class="modal-title">Upload Results</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="uploadResultsBody" class="modal-body">
          <div class="alert alert-info badger-upload-text-area" role="alert"><span><p>Your screenshots were analysed and detected the following gym badges.  
          You can check or correct these results before saving.</p></span>
          </div>
          <div id="uploadResultDetails" class="badger-upload-results">
          </div>
        </div>
        <div class="modal-footer">
          <button id="saveButton" type="button" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </div>

    <div class="modal fade" id="teamPage" role="dialog">
    <div class="modal-dialog modeal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Team</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-info badger-upload-text-area" role="alert"><span><p>Select your team to change Gymbadger colours and style accordingly</p></span></div>
            <div id="teamButtons" class="btn-group badger-team-container" data-toggle="buttons">
                <label id="mysticTeam" class="btn badger-team-btn-img badger-mystic-team">
                  <input type="radio" class="badger-team-btn" value="MYSTIC" autocomplete="off"/>
                </label>
                <label id="valorTeam" class="btn badger-team-btn-img badger-valor-team">
                  <input type="radio" class="badger-team-btn" value="VALOR" autocomplete="off"/>
                </label>
                <label id="instinctTeam" class="btn badger-team-btn-img badger-instinct-team">
                  <input type="radio" class="badger-team-btn" value="INSTINCT" autocomplete="off"/>
                </label>
            </div>
        </div>
        <div class="modal-footer">
          <button id="saveTeam" type="button" class="btn btn-info">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </div>

    <div class="modal fade" id="editRaidPage" role="dialog">
      <div id="editRaidDialog" class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header badger-opt-header">
            <h5 class="modal-title">Edit Raid</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body badger-edit-page-body">
            <div id="badger-editraid-date" class="input-group date badger-opt-date"> 
              <input type="text" class="form-control badger-opt-date-text" placeholder="Date of the raid"/> 
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            <div id="badger-editraid-time" class="input-group date badger-opt-item"> 
              <input type="text" class="form-control badger-opt-date-text" placeholder="Time of the raid"/> 
              <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            </div>
            <div class="badger-opt-item"><select id="poke-editraid-search" name="poke-search" class="form-control"><option></option></select></div>
            <div class="badger-opt-item"><input type="checkbox" id="editraid-caught-switch" name="caught"/></div>
            <div class="modal-footer badger-opt-footer">
              <div class="badger-opt-item badger-opt-btn-div">
                <button id="deleteRaid" class="btn btn-danger">Delete</button>
                <button id="saveRaid" class="btn btn-success">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editBadgePage" role="dialog">
      <div id="editBadgeDialog" class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header badger-opt-header">
            <h5 class="modal-title">Edit Gym Badge</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body badger-edit-page-body">
            <div class="badger-edit-badge">
              <div>
                <button class="btn btn-default badger-small-button" type="button" id="editInfoMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="badger-badge-container">
                    <span id="editInfoBadge" class="badger-badge"></span>
                    <span class="badger-badge-gap"></span>
                    <i class="fa fa-caret-down"></i>
                  </div>
                </button>
                <div class="dropdown-menu" aria-labelledby="editInfoMenuButton" id="editBadgeDropdown">
                  <a id="edit-select-gold" class="dropdown-item badger-dropdownitem" href="#">Gold</a>
                  <a id="edit-select-silver" class="dropdown-item badger-dropdownitem" href="#">Silver</a>
                  <a id="edit-select-bronze" class="dropdown-item badger-dropdownitem" href="#">Bronze</a>
                  <a id="edit-select-basic" class="dropdown-item badger-dropdownitem" href="#">Basic</a>
                  <a id="edit-select-none" class="dropdown-item badger-dropdownitem" href="#">None</a>
                </div>
              </div>
            </div>
            <div id="badger-editbadge-date" class="input-group date badger-opt-date"> 
              <input type="text" class="form-control badger-opt-date-text" placeholder="Date you earned the badge"/> 
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            <div id="badger-editbadge-time" class="input-group date badger-opt-item"> 
              <input type="text" class="form-control badger-opt-date-text" placeholder="Time you earned the badge"/> 
              <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            </div>
            <div class="modal-footer badger-opt-footer">
              <div class="badger-opt-item badger-opt-btn-div">
                <button id="deleteBadge" class="btn btn-danger">Delete</button>
                <button id="saveBadge" class="btn btn-success">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script src="js/select2.full.min.js" type="text/javascript"></script>
    <script src="js/jquery.timeago.js" type="text/javascript"></script>
    <script src="js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="js/js.cookie.js" type="text/javascript"></script>
    <script src="js/datatables.min.js" type="text/javascript"></script>
    <script src="js/Chart.min.js" type="text/javascript"></script>
    <script src="js/gymbadger-utils.js" type="text/javascript"></script>
    <script src="js/gymbadger-percentage.js" type="text/javascript"></script>
    <script src="js/gymbadger.js"></script>
    <script async="async" defer="defer" th:src="@{https://maps.googleapis.com/maps/api/js(key=${googleMapsAPIKey},callback=initPage)}"></script>

  </body>
</html>
