<!DOCTYPE html>
<html>
  <head>
      <title>About: Gymbadger</title>
  </head>
  <body>
    <h2>Gymbadger Privacy Policy</h2>
    <p>You may use the Gymbadger web site (www.gymbadger.com) free of charge.</p>
    <p>CaptnClumsy respects your privacy. We will not use your E-mail or other personal information apart from displaying it to you on this web site.  
    This web site is for fun not profit.</p>
    
    <p>CaptnClumsy will never share or sell your personal data e.g. E-mail id or Display Name with any third party.</p>
    
    <p>Any questions on this policy of the Gymbadger web site please contact <a href="mailto:totallyraymond@gmail.com">totallyraymond@gmail.com.</a></p>
    <h2>Contributing to Gymbadger</h2>
    <p>The source code for Gymbadger is available under the open source <a href="https://raw.githubusercontent.com/CaptnClumsy/gymbadger/master/LICENSE">MIT</a> license.</p>
    <p>You can access the code, contribute to it, review the open issues and raise new ones at:<br/><a href="https://github.com/CaptnClumsy/gymbadger">https://github.com/CaptnClumsy/gymbadger</a>.</p>
  </body>
 </html>